body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #1e1e1e; /* Dark background color */
    color: #f0f0f0; /* Light text color */
    line-height: 24px;
}

.step {
    margin-bottom: 20px;
}
.section {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.container {
    width: 800px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.sidebar {
    flex: 0 0 250px;
    margin-right: 20px;
    padding: 10px;
    background-color: #2d2b2b;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    height: fit-content;
    position: sticky;
    top: 20px;
}
.sidebar h3 {
    margin-top: 0;
    font-size: 1.2em;
}
.sidebar p {
    margin: 5px 0;
}

/* Checkbox and label styling */
input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ff8c00; /* Orange border color */
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: #2c2c2c; /* Dark background for unchecked state */
    position: relative;
    transition: all 0.3s ease;
    margin: 0;
    top: 4px;
}

input[type="checkbox"]:checked {
    background-color: #ff8c00; /* Orange background when checked */
    border-color: #ff8c00; /* Orange border when checked */
}

input[type="checkbox"]:checked::after {
    content: '\2713'; /* Checkmark */
    color: #1e1e1e; /* Dark color for the checkmark */
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

label {
    margin-left: 8px;
    color: #f0f0f0; /* Light color for labels */
    cursor: pointer;
    font-size: 16px;
    vertical-align: middle;
    transition: color 0.3s ease;
}

input[type="checkbox"]:hover {
    border-color: #ffba3b; /* Lighter orange on hover */
}

a {
    color: #ffa500; /* Lighter orange for label on hover */
}

a:hover {
    color: #ffba3b; /* Lighter orange on hover */
}

@media screen and (max-width: 768px) {
    .section {
        flex-direction: column;
    }

    .sidebar {
        flex: 0 0 auto;
        position: relative;
        margin-right: 0;
        margin-bottom: 20px;
        top: 0;
    }
}